@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #86558d;
  font-family: "Montserrat", sans-serif;
}

.btn-group-vertical {
  margin-left: 100px;
}
h2 {
  text-align: center;
  margin-top: 20px;
  color: #ebebeb;
}
.btn-group {
  padding: 120px;
  left: 20px;
}

.body-text {
  margin-left: 150px;
  font-size: 18px;
}
.custom-btn {
  width: 230px;
  height: 100px;
  color: #fff;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 17px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

h4 {
  position: absolute;
  width: 136px;
  height: 45px;
  left: 255px;
  top: 65px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: rgb(252, 252, 252);
}
.potato {
  position: absolute;
  width: 103px;
  height: 85px;
  left: 120px;
  top: 34px;
}
.servise {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 1433px;
  top: 180px;
  margin-top: -125px;
}

.profile {
  position: absolute;
  width: 53.33px;
  height: 50px;
  left: 1332px;
  top: 180px;
  margin-top: -125px;
}

.circle {
  fill: #456bd9;
  stroke: #0f1c3f;
  stroke-width: 0.1875em;
}

.caption {
  padding: 10px;
  color: white;
  background: #8fd4c1;
  text-align: center;
  caption-side: top;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
th {
  background: #ed66b3;
  color: white;
  text-shadow: 0 1px 1px #2d2020;
  padding: 10px 20px;
}
th,
td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: rgb(0, 0, 0);
}
th:first-child,
td:first-child {
  text-align: left;
}
th:first-child {
  border-top-left-radius: 2px;
}
th:last-child {
  border-top-right-radius: 2px;
  border-right: none;
}
td {
  padding: 10px 20px;
  background: #ffffff;
}
tr:last-child td:first-child {
  border-radius: 0 0 0 2px;
}
tr:last-child td:last-child {
  border-radius: 0 0 2px 0;
}
tr td:last-child {
  border-right: none;
}
.td-circle {
  padding: 10px 43px;
}

.caption {
  padding: 10px;
  color: rgb(0, 0, 0);
  background: #eb6300;
  text-align: center;
  caption-side: top;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: "Сomic Sans MS", cursive;
  font-size: large;
}
.th-week {
  background: #ed66b3;
  color: white;
  text-shadow: 0 1px 1px #2d2020;
  padding: 10px 20px;
}
.th-week,
.td-week {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: rgb(0, 0, 0);
}
.th-week:first-child,
.td-week:first-child {
  text-align: left;
}
.th-week:first-child {
  border-top-left-radius: 2px;
}
.th-week:last-child {
  border-top-right-radius: 2px;
  border-right: none;
}
.td-week {
  padding: 10px 15px;
  background: #ffffff;
}
.tr-week:last-child .td-week:first-child {
  border-radius: 0 0 0 2px;
}
.tr-week:last-child .td-week:last-child {
  border-radius: 0 0 2px 0;
}
.tr-week .td-week:last-child {
  border-right: none;
}
.trafic {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 16px;
  border-radius: 30px;
  border-spacing: 0;
  text-align: center;
  left: 1140px;
  position: absolute;
  width: 376px;
  height: 430px;
  top: 150px;
}
.trafic1 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 21px;
  text-align: center;
  left: 1140px;
  position: absolute;
  width: 376px;
  height: 420px;
  top: 217px;
  display: block;
  overflow-y: auto;
  max-height: 100%;
  max-width: 100%;
}
.trafic1 td {
  padding: 10px 49px;
}
.caption1 {
  padding-top: 10px;
  padding: 20px;
  color: rgb(0, 0, 0);
  background: #eb6300;
  text-align: center;
  caption-side: top;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: "Сomic Sans MS", cursive;
  font-size: large;
  width: 380px;
}
.caption2 {
  padding-top: 10px;
  padding: 20px;
  color: rgb(0, 0, 0);
  background: #eb6300;
  text-align: center;
  caption-side: top;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: "Сomic Sans MS", cursive;
  font-size: large;
  width: 368px;
}
* {
  box-sizing: border-box;
}

.box {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  margin: 15px auto;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: #fff;
}

.box-inner {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  z-index: 5;
  border-radius: 50%;
  background: #4a6dea;
}

.box span {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
  color: #fff;
  z-index: 10;
}

.box:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  clip: rect(0 200px 100px 0);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  background: #7cbb9f;
}

.box:after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  clip: rect(0 100px 200px 0);
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
  background: #eb6300;
}
.academic-performance {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 16px;
  border-radius: 20px;
  border-spacing: 0;
  text-align: center;
  left: 660px;
  position: absolute;
  width: 370px;
  height: 250px;
  top: 690px;
}
.academic-perfomanse1 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 20px;
  border-spacing: 0;
  text-align: center;
  left: 660px;
  position: absolute;
  width: 387px;
  height: 230px;
  top: 756px;
  display: block;
  overflow: auto;
  max-height: 100%;
  max-width: 400px;
}
.academic-perfomanse1 td {
  padding: 10px 51px;
}
.news {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 21px;
  border-radius: 10px;
  border-spacing: 0;
  text-align: center;
  left: 1100px;
  position: absolute;
  width: 420px;
  height: 250px;
  top: 680px;
}
.fizra {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 25px;
  border-spacing: 0;
  text-align: center;
  position: absolute;
  width: 500px;
  height: 130px;
  left: 100px;
  top: 700px;
}
.wrapper {
  position: absolute;
  top: 150px;
  margin-left: 170px;
  max-width: 400px;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  padding: 25px;
}
.wrapper header {
  font-size: 20px;
  font-weight: 45px;
  width: 100px;
}
.wrapper .inputField {
  display: flex;
  height: 45px;
  width: 100%;
  margin: 20px 0;
}
.inputField input {
  width: 85%;
  height: 100%;
  border: 1px solid #ccc;
  font-size: 17px;
  border-radius: 3px;
  padding-left: 15px;
}
.inputField button {
  width: 60px;
  height: 100%;
  border: none;
  outline: none;
  background: #eb6300;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 5px;
  opacity: 0.6;
  pointer-events: none;
}
.inputField button.active {
  opacity: 1;
  pointer-events: auto;
}
.wrapper .todoList {
  max-height: 250px;
  overflow-y: auto;
}
.todoList li {
  list-style: none;
  font-size: 19px;
  height: 45px;
  line-height: 45px;
  position: relative;
  background: #f2f2f2;
  border-radius: 3px;
  margin-bottom: 8px;
  margin-left: -20px;
  padding: 0 15px;
  cursor: default;
  overflow: hidden;
}
.todoList li span {
  position: absolute;
  right: -45px;
  color: #fff;
  width: 45px;
  text-align: center;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  background: #e74c3c;
  transition: all 0.3s ease;
}
.todoList li:hover span {
  right: 0px;
}
.wrapper .footer {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 25px;
  justify-content: space-between;
}
.footer button {
  border: none;
  outline: none;
  background: #eb6300;
  color: #fff;
  width: 120px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
  opacity: 0.6;
  pointer-events: none;
}
.footer button.active {
  opacity: 1;
  pointer-events: auto;
}

:root {
  --dark-body: #4d4c5a;
  --dark-main: #141529;
  --dark-second: #79788c;
  --dark-hover: #323048;
  --dark-text: #f8fbff;

  --light-body: #f3f8fe;
  --light-main: #fdfdfd;
  --light-second: #c3c2c8;
  --light-hover: #edf0f5;
  --light-text: #151426;

  --blue: #0000ff;
  --white: #fff;

  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  --font-family: cursive;
}

.dark {
  --bg-body: var(--dark-body);
  --bg-main: var(--dark-main);
  --bg-second: var(--dark-second);
  --color-hover: var(--dark-hover);
  --color-txt: var(--dark-text);
}

.light {
  --bg-body: var(--light-body);
  --bg-main: var(--light-main);
  --bg-second: var(--light-second);
  --color-hover: var(--light-hover);
  --color-txt: var(--light-text);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.calendar {
  height: max-content;
  width: max-content;
  background-color: var(--bg-main);
  margin-left: 650px;
  margin-top: 160px;
  border-radius: 30px;
  padding: 20px;
  position: absolute;
  overflow: hidden;
  /* transform: scale(1.25); */
}

.light .calendar {
  box-shadow: var(--shadow);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  color: var(--color-txt);
  padding: 10px;
}

.calendar-body {
  padding: 10px;
}

.calendar-week-day {
  height: 50px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
}

.calendar-week-day div {
  display: grid;
  place-items: center;
  color: var(--bg-second);
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  color: var(--color-txt);
}

.calendar-days div {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  cursor: pointer;
  animation: to-top 1s forwards;
  /* border-radius: 50%; */
}

.calendar-days div span {
  position: absolute;
}

.calendar-days div:hover span {
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.calendar-days div span:nth-child(1),
.calendar-days div span:nth-child(3) {
  width: 2px;
  height: 0;
  background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(1),
.calendar-days div:hover span:nth-child(3) {
  height: 100%;
}

.calendar-days div span:nth-child(1) {
  bottom: 0;
  left: 0;
}

.calendar-days div span:nth-child(3) {
  top: 0;
  right: 0;
}

.calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4) {
  width: 0;
  height: 2px;
  background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4) {
  width: 100%;
}

.calendar-days div span:nth-child(2) {
  top: 0;
  left: 0;
}

.calendar-days div span:nth-child(4) {
  bottom: 0;
  right: 0;
}

.calendar-days div:hover span:nth-child(2) {
  transition-delay: 0.2s;
}

.calendar-days div:hover span:nth-child(3) {
  transition-delay: 0.4s;
}

.calendar-days div:hover span:nth-child(4) {
  transition-delay: 0.6s;
}

.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 50%;
}

.calendar-days div.curr-date span {
  display: none;
}

.month-picker {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.month-picker:hover {
  background-color: var(--color-hover);
}

.year-picker {
  display: flex;
  align-items: center;
}

.year-change {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 10px;
  cursor: pointer;
}

.year-change:hover {
  background-color: var(--color-hover);
}

.calendar-footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.toggle {
  display: flex;
}

.toggle span {
  margin-right: 10px;
  color: var(--color-txt);
}

.dark-mode-switch {
  position: relative;
  width: 48px;
  height: 25px;
  border-radius: 14px;
  background-color: var(--bg-second);
  cursor: pointer;
}

.dark-mode-switch-ident {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: var(--bg-main);
  position: absolute;
  top: 2px;
  left: 2px;
  transition: left 0.2s ease-in-out;
}

.dark .dark-mode-switch .dark-mode-switch-ident {
  top: 2px;
  left: calc(2px + 50%);
}

.month-list {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--bg-main);
  padding: 20px;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  display: grid;
  transform: scale(1.5);
  visibility: hidden;
  pointer-events: none;
}

.month-list.show {
  transform: scale(1);
  visibility: visible;
  pointer-events: visible;
  transition: all 0.2s ease-in-out;
}

.month-list > div {
  display: grid;
  place-items: center;
}

.month-list > div > div {
  width: 100%;
  padding: 5px 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  color: var(--color-txt);
}

.month-list > div > div:hover {
  background-color: var(--color-hover);
}

@keyframes to-top {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
